{% extends 'base.html' %}
{% block content %}
<title>Change Password</title>
<div class="content-holder padd-acc top-margin-fixed-80 bottom-margin-4">
    <div class="row no-gutters">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="row no-gutters">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <span class="page-title">
                        Change Password
                    </span>
                    <hr>
                </div>
            </div>
            <div class="row no-gutters white">
                <div class="row all-patients no-gutters std-bg top-margin-2">
                    <div class="row no-gutters">
                        <form class="form-change-password" action="/change-pswd" method="POST">
                            <div class="row no-gutters top-margin-2">
                                <div class="col-sm-offset-4 col-xs-offset-4 col-xs-4 col-sm-4">
                                    <input type="password" name="oldpasswd" class="input-lg form-control top-margin-2" placeholder="Old password">
                                </div>
                            </div>
                            <div class="row no-gutters top-margin-2">
                                <div class="col-sm-offset-4 col-xs-offset-4 col-xs-4 col-sm-4">
                                    <input type="password" name="newpasswd" class="input-lg form-control top-margin-2" placeholder="New password">
                                </div>
                            </div>
                            <div class="row no-gutters top-margin-2">
                                <div class="col-sm-offset-4 col-xs-offset-4 col-xs-4 col-sm-4">
                                    <input type="password" name="confirmpasswd" class="input-lg form-control top-margin-2" placeholder="Confirm password">
                                </div>
                                <div class="col-xs-3 col-sm-3 correct top-margin-2 left-margin-5">
                                        <span class="glyphicon glyphicon-ok pull-left align-middle"></span>
                                        &nbsp;&nbsp;Passwords match.
                                </div>
                                <div class="col-xs-3 col-sm-3 incorrect top-margin-2 left-margin-5">
                                        <span class="glyphicon glyphicon-remove pull-left align-middle"></span>
                                        &nbsp;&nbsp;Passwords don't match.
                                </div>
                            </div>
                            {% if error %}
                            <div class="row no-gutters top-margin-2">
                                <div class="col-sm-offset-4 col-xs-offset-4 col-xs-4 col-sm-4">
                                    <span class="pull-right">{{ error }}</span>
                                </div>
                            </div>
                            {% endif %}
                            <div class="row no-gutters more-row top-margin-2">
                                <div class="col-sm-offset-4 col-xs-offset-4 col-xs-4 col-sm-4">
                                    <button type="submit" class="btn btn-blue white pull-right save-btn" name="submit" value="save">
                                        <span class="glyphicon glyphicon-ok"></span>
                                        Save
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

